name: flurry_analytics_plugin
description: A Flutter plugin to use Flurry Analytics. This plugin provides all the FlurryAgent methods.
version: 0.0.1
author: Aniket Kumar <anikketkumar786@gmail.com>
homepage: https://github.com/anikket786/flurry_analytics_plugin

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

# The following section is specific to Flutter.
flutter:
  plugin:
    platforms:
      android:
        package: com.dev.anikumar.flurry_analytics_plugin
        pluginClass: FlurryAnalyticsPlugin

